.menu {
  position: fixed;
  z-index: 9999;
}



.menu-button {
  margin: 6px;
  font-size: 1.8rem;
  background: rgba(225, 225, 225, 0.1);
  color: white;
  border: 1px outset rgba(225, 225, 225, 0.35);
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  backdrop-filter: blur(16px);
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.4);
}


.menu-button:hover {
  background: rgba(255, 255, 255, 0.2);
}

.menu-options {
  list-style: none;
  margin: 10px 0 0 0;
  padding: 0;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease;
}

.menu-options.open {
  max-height: 300px;
  /* enough to show all options */
}

.menu-options li a {
  display: block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  transition: background 0.2s;
}

.menu-options li a:hover {
  background: rgba(255, 255, 255, 0.1);
}

:host {
  display: block;
  min-height: 100svh;
  width: 100%;
  overflow-x: hidden;
}